---
layout: default
title: AAU
---
{% assign filtered_posts = site.posts | where: 'tag', "aau"%}
{% assign enlanguage_posts = filtered_posts | where: 'lang', 'en' %}
{% assign dklanguage_posts = filtered_posts | where: 'lang', 'da-DK' %}

<div class="language" language="en-US">
<h2>Aalborg University</h2>
<hr>
{% for post in enlanguage_posts %}
    <h2><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
{% endfor %}

</div>

<div class="language" language="da-DK">
<h2>Aalborg Universitet</h2>
<hr>
{% for post in dklanguage_posts %}
    <h2><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
{% endfor %}

</div>